﻿@charset "utf-8";
/* CSS Document */

/* core */
.carousel {
  position: relative;
}
.carousel-viewport {
  overflow: hidden;
  cursor: pointer;
}
.carousel-items {
  /*position: absolute;*/
}


.carousel-wrap {
  padding: 0 50px;
}


.clearout {
height:20px;
clear:both;
}
.hidden {
    display: none;
}
.carousel {
    position:relative;
    max-width:984px;
    margin: 0 auto;

}
.carousel-items {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.carousel-viewport {
    overflow:hidden;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc; 
		padding:12px 0;

        background:#fff;
}

.carousel-viewport li {
  float: left;
  width: 300px;
  list-style: none;
  border-right:1px solid #eee;
 
}

.carousel-viewport a {
  display: block;
  color: #444;
}
.carousel-items img {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
}

div.references ul.carousel-items li{ width:150px;}
div.references ul.carousel-items img {
width: 100%;
max-width: 72px;
max-height: 60px;
}


div.references ul.carousel-items img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	opacity:0.5;
	
	/*-webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;*/
}

div.references ul.carousel-items img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
	opacity:1;
	 zoom: 1;
  filter: alpha(opacity=100);

}



 
.carousel-pager {
	clear:both;
  float:right;
  padding: 0;
  margin-top:5px;
  width:100%;
  display:none;

}
.carousel-pager li {
  float:left;
     border:0px solid #F00;
  margin: 0 5px;
  width:10px !important;
  border:none !important;
}
.carousel-pager a {
	 
  display: block;
  width: 10px;
  height: 10px;
  text-indent: 100%;
  white-space: nowrap;
background:url(../../images/sprite3d.png) -100px -27px no-repeat;
  overflow: hidden;
}
.carousel-pager-active a {

  background:url(../../images/sprite3d.png) -100px -9px no-repeat;
}



.carousel-direction  {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}
.carousel-direction .carousel-viewport {
  height: 200px;
}
.carousel-direction .carousel-items {
  height: 9999px;
  width: 100%;
}
.carousel-direction .carousel-viewport li {
  margin: 10px 0;
}






















 