﻿

@media only screen and (max-width:800px) {

    div.content, div.container {
    width:100% !important;
    overflow:hidden;
    }

    div.facebook-like * {
        width: 100% !important;
    }

    #menu {
        display: none;
    }

        #menu li {
            float: none;
        }

            #menu li a {
                border-bottom: 1px solid #555;
            }


    .js #menu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
    }

    div.carousel-normal ul li {
        width: 264px;
    }

    div.search_box {
        position: absolute;
        top: 0;
    }

    div.image {
        background: none;
    }

    div.content_wrapper {
        padding: 5px;
    }

        div.content_wrapper div.colums {
            min-width: 96%;
            float: none;
            margin: 0;
            margin-bottom: 10px;
            overflow: hidden;
        }
}

@media only screen and (min-width:800px) {
    #menu {
        display: block;
    }
}




@media only screen and (max-width:568px) {

   
    
    ul.cuff li {
    width:97%; display:block; 
    }
    div.sidebar {
        float: none;
        width: 100%;
    }
     
    div.facebook-like * {
        width: 100% !important;
        display: none;
        height: 0px !important;
    }

    ul.social, div#cssmenu, div.contact_us_banner {
        display: none;
    }

    div#cssmenu {
        width: 100%;
        display: block;
    }

    div.page_content {
        width: 100%;
    }

    div.logo {
        width: 100%;
        text-align: center;
    }

        div.logo a img {
            width: 196px;
            border: 0px solid #F00;
            padding: 0;
        }

    div.content div.header div.banner_468x60 {
        overflow: hidden;
        margin-left: 2%;
        text-align: center;
    }

        div.content div.header div.banner_468x60, div.content div.header div.banner_468x60 a, div.content div.header div.banner_468x60 a img {
            width: 95%;
            height: auto;
        }

            div.content div.header div.banner_468x60 a img {
                width: 100%;
            }


  



    /* div.slider_container{ margin:0; padding:0; margin-top:5px;}*/
    div.slider_container {
        clear: both;
        margin: 0;
        margin-top: 10px;
    }

    div.carousel-normal ul li {
        max-width: 270px;
        width: 80%;
        border-right: 0px dashed #666;
        border: 0px solid #f00;
    }

        div.carousel-normal ul li a img {
            float: left;
            max-width: 100px;
            border: 1px solid #CCC;
            padding: 3px;
        }

        div.carousel-normal ul li h1 {
            float: left;
            padding: 5px;
            max-width: 150px;
            height: auto;
            font-size: 16px;
            border: 0px solid #0F6;
        }

        div.carousel-normal ul li p {
            float: left;
            max-width: 150px;
            height: auto;
            text-align: left;
            padding-left: 5px;
            border: 0px solid #F0F;
        }

    div.search_box {
        position: absolute;
        top: 0;
    }

    h1.h_bg {
        margin: 0px auto;
        float: none;
        margin-top: 10px;
    }

    div.box_container {
        border: 1px solid #fff;
        clear: both;
    }

    div.references div.carousel-nav {
        right: 0px;
        top: -30px;
    }

    div.footer {
        width: 92%;
        text-align: center;
    }

        div.footer div.social {
            width: 100%;
            text-align: center;
        }

        div.footer p.copyright {
            font-size: 85%;
            width: 100%;
            text-align: center;
            color: #999;
        }

        div.footer a.cportal {
            border: 0px solid #f00 !important;
            float: none;
            width: 100% !important;
            display: block;
            text-align: center;
        }


      
   
}

/*
@media screen and (max-width:320px)
{
	ul.social{display:none;}
	div.logo{width:100%; text-align:center;}
	div.logo a img{width:196px; border:0px solid #F00; padding:0;}
	
	div.content div.header div.banner_468x60 {overflow:hidden;  margin-left:2%; text-align:center;}
	div.content div.header div.banner_468x60, div.content div.header div.banner_468x60 a, div.content div.header div.banner_468x60 a img {width:300px; height:auto;}
	 
	div.slider_container{ margin:0; padding:0;}
	
	ul.menu,div.search_box{display:none}
	
	div.amazingslider-text-wrapper-0{display:none !important;}
}
*/


@media only screen and (min-width: 600px) and (max-width: 800px) {
      ul.cuff li {
    width:47.40%; display:block;  height:100px; overflow:no-content;
     
    }
    div.sidebar {
        float: none;
        width: 100%;
    }
     
    div.facebook-like * {
        width: 100% !important;
        display: none;
        height: 0px !important;
    }

    ul.social, div#cssmenu, div.contact_us_banner {
        display: none;
    }

    div#cssmenu {
        width: 100%;
        display: block;
    }

    div.page_content {
        width: 100%;
    }


    div.carousel-normal ul li {
        max-width: 300px;
        border-right: 1px dashed #666;
        font-size: 100%;
        border: 0px solid #F00;
    }

        div.carousel-normal ul li a img {
            float: left;
            max-width: 100px;
            border: 1px solid #CCC;
            padding: 3px;
        }

        div.carousel-normal ul li h1 {
            float: left;
            padding: 5px;
            padding-top: 0;
            max-width: 140px;
            height: auto;
            font-size: 16px;
        }

        div.carousel-normal ul li p {
            float: left;
            max-width: 146px;
            height: auto;
            text-align: left;
            padding-left: 5px;
            border: 0px solid #f00;
            height: 100%;
            line-height: 110%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    div.footer {
        width: 94%;
    }

        div.footer p.copyright {
            width: 50%;
        }

        div.footer div.social {
            width: 24%;
        }
}



@media only screen and (max-width: 376px) {
   
    .gallery-container figure {
    
        width:170px !important;
        height:126px !important;

    }
}