﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CallUs.ascx.cs" Inherits="Kalder.include.CallUs" %>
<div class="contact_us_banner">
    <h3 class="phone">Bize Ulaşın</h3>
    <p class="phone"><asp:Literal ID="ltrlTel" runat="server"></asp:Literal></p>
</div>