﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="references.ascx.cs" Inherits="Kalder.include.references" %>
 


<!--======= PARTNERS =========-->
			<section class="contact-info">
				<div class="container"> 
					<div class="tittle tittle-2">
						<img src="<%= Page.ResolveUrl("~/")%>images/icon-partner.png"/>
						<p>Birlikte Çalışıyoruz</p>
						<h3><asp:Literal ID="ltrlBaslik" runat="server"></asp:Literal></h3>
						<hr>
					</div>
					<div class="brand-list-style">

                         <asp:Repeater ID="rptRef" runat="server">
                            <ItemTemplate>
                                <%--<div class="item"><a href="<%#Eval("Link") %>" target="_blank"><img class="img img-responsive" src="<%= Page.ResolveUrl("~")%>upload/Referans/<%#Eval("BrandLogo") %>" /></a></div>--%>
                                <div class="item"><img class="img img-responsive" src="<%= Page.ResolveUrl("~/")%>upload/Referans/<%#Eval("BrandLogo") %>" /></div>
                            </ItemTemplate>
                        </asp:Repeater>
					</div>
				</div>
			</section>

 