﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Welcome.ascx.cs" Inherits="Kalder.include.Welcome" %>

 
<div class="colums">
            	<h2 class="h2_bg"><span class="icon"></span> <asp:Literal ID="ltrlBaslik" runat="server"></asp:Literal></h2>
            		
            		 
                <div class="welcometext">
                    <asp:Image ID="imgResim" runat="server" CssClass="responsive_img margin-right10 left" style="margin-bottom:20px;" />
                    <asp:Literal ID="ltrlContent" runat="server"></asp:Literal>
                        
                </div>
                <asp:LinkButton ID="lnkBtn" runat="server" CssClass="more" Text="daha fazla"></asp:LinkButton>
               <%-- <a href="legal_notice.aspx" class="more">daha fazla >></a>--%>
          </div>