﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Lisans Hatası</title>
    <link href="style/style.css" rel="stylesheet" />
</head>
<body>
    <div class="clear page_container" style="background:url(images/error.png) right top no-repeat;">
        <h1 style="width:100%; text-align:center; font-size:25px; margin-top:20px; margin-bottom:20px;">
            Lisans Hatası!
        </h1>
        <p style="min-height: 350px; text-align: center; font-size:14px; line-height:2; color:#808080; font-family: 'Open Sans', sans-serif;">
            Alan adınızın bu yazılımını kullanma yetkisi yok.
            <br />
            Yıllık kullanım süreniz dolmuş olabilir. Ayrıca site dosyalarını farklı bir alan adına kurduysanız da bu hatayı alırsınız.
            <br />
            Lütfen Cplus Interactive yetkilileriyle iletişime geçin..<br />
            <%--<span id="countdown"></span>--%>


        </p>
    </div>
</body>
</html>
