﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.Master" AutoEventWireup="true" CodeBehind="test.aspx.cs" Inherits="Kalder.WebForm1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">




 <style type="text/css">
            
        </style>

        <section>
            <div class="container">

            

            <div class="row">

                	<div class="col-md-9 col-sm-9">
								<div class="contentbox">


                                    <ul class="yonetimList">
    <li><span>                 <img src="http://www.kalder.org/yk/buket-eminoglu-pilavci.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">BUKET EMİNOĞLU PİLAVCI</span>                             <span class="gorevCont">Y&Ouml;NETİM KURULU BAŞKANI</span>                             <span class="gorevCont2">KADIK&Ouml;Y ŞİFA SAĞLIK GRUBU İCRA KURULU BAŞKANI</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/NecatiBulentHakoglu.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">NECATİ B&Uuml;LENT HAKOĞLU</span>                             <span class="gorevCont">Y&Ouml;NETİM KURULU BAŞKAN YARDIMCISI</span>                             <span class="gorevCont2">POLİSAN KİMYA SAN. A.Ş GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/MutluOcak.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">MUTLU OCAK</span>                             <span class="gorevCont">Y&Ouml;NETİM KURULU BAŞKAN YARDIMCISI</span>                             <span class="gorevCont2">COCA-COLA İ&Ccedil;ECEK A.Ş T&Uuml;RKİYE TEDARİK ZİNCİRİ DİREKT&Ouml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/NecipOzcer.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">NECİP &Ouml;Z&Ccedil;ER </span>                             <span class="gorevCont">SAYMAN</span>                             <span class="gorevCont2">LC WAIKİKİ Y&Ouml;NETİM KURULU &Uuml;YESİ</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/AliCaliskan.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">ALİ &Ccedil;ALIŞKAN</span>                             <span class="gorevCont">KORDSA GLOBAL A.Ş&nbsp;<br />
    CEO</span><span class="gorevCont2">AVRUPA/AFRİKA/ORTADOĞU</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/anilYilmaz.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">ANIL YILMAZ</span>                             <span class="gorevCont">T.C. BİLİM, SANAYİ VE TEKNOLOJİ BAKANLIĞI VERİMLİLİK GENEL M&Uuml;D&Uuml;RL&Uuml;Ğ&Uuml;</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/TarkanTekcan.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">DR. A. TARKAN TEKCAN</span>                             <span class="gorevCont">VESTEL TİCARET A.Ş M&Uuml;ŞTERİ HİZMETLERİ</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/Pervin.Olgun.jpg" alt="Pervin Olgun" />                 <span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">PERVİN OLGUN</span>                             <span class="gorevCont">BAREM RESEARCH</span>                             <span class="gorevCont2">Y&Ouml;NETİM KURULU BAŞKANI</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/GunduzUlusoy.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">PROF.DR. G&Uuml;ND&Uuml;Z ULUSOY</span>                             <span class="gorevCont">SABANCI &Uuml;NİVERSİTESİ</span>                             <span class="gorevCont2">&Ouml;ĞRETİM &Uuml;YESİ</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/serdar-oran.jpg" alt="" />                 <span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">SERDAR ORAN</span>                             <span class="gorevCont">DYO BOYA FABRİKALARI</span>                             <span class="gorevCont2">BAŞKAN YARDIMCISI / GENEL M&Uuml;D&Uuml;R</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/SafakCapar.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">ŞAFAK &Ccedil;APAR</span>                             <span class="gorevCont"><br />
    </span>                             <span class="gorevCont2"><br />
    </span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/AtillaGokce.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">ATİLLA G&Ouml;K&Ccedil;E</span>                             <span class="gorevCont">3. K&Ouml;PR&Uuml; VE KUZEY MARMARA OTOYOLU İŞLETME A.Ş</span>                             <span class="gorevCont2">Y&Ouml;NETİM KURULU &Uuml;YESİ</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/BarbarosCam.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">BARBAROS &Ccedil;AM</span>                             <span class="gorevCont">İPRAGAZ A.Ş</span>                             <span class="gorevCont2">TESİS M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/BaybarsSoyak.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">BAYBARS SOYAK</span>                             <span class="gorevCont">SYK G&Uuml;MR&Uuml;K M&Uuml;ŞAVİRLİĞİ</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/MuhsinComden.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">DR. MUHSİN &Ccedil;&Ouml;MDEN</span>                             <span class="gorevCont">DR. OETKER</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/EsenerSaygin.jpg" alt="" />                 <span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">ESENER SAYGIN</span>                             <span class="gorevCont">HOTEL MFC</span>                             <span class="gorevCont2">KURUCU</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/HakanUnlu.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">HAKAN &Uuml;NL&Uuml;</span>                             <span class="gorevCont">MAXİON JANTAS JANT SAN. TİC. A.Ş VE MAXİON İNCİ JANT SAN. A.Ş</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/MehmetYilmaz.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">MEHMET YILMAZ</span>                             <span class="gorevCont">T&Uuml;RK HENKEL A.Ş</span>                             <span class="gorevCont2">OPERASYONLAR DİREKT&Ouml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/NazmiKaryagdi.jpg" alt="" /><span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">NAZMİ KARYAĞDI</span>                             <span class="gorevCont">KalDer ANKARA ŞUBESİ / T&Uuml;RK	 TELEKOM&Uuml;NİKASYON A.Ş</span>                             <span class="gorevCont2">Y&Ouml;NETİM KURULU BAŞKANI / VERGİ UYUM GRUP M&Uuml;D&Uuml;R&Uuml; </span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/sertacguven.jpg" width="225" height="160" alt="" />                 <span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont"> SERTA&Ccedil; G&Uuml;VEN</span>                             <span class="gorevCont">DOĞA HSE GROUP</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
    <li><span>                 <img src="http://www.kalder.org/yk/bgg.jpg" alt="" />                 <span class="disTab">                     <span class="disRow">                         <span class="disCell">                             <span class="isimcont">TUĞRUL BARAN</span>                             <span class="gorevCont">LAV / G&Uuml;RALLAR</span>                             <span class="gorevCont2">GENEL M&Uuml;D&Uuml;R&Uuml;</span>                         </span>                     </span>                 </span>             </span></li>
</ul>


<%--<ul class="yonetimList">
	<li><img alt="" src="http://www.kalder.org/yk/buket-eminoglu-pilavci.jpg" /> BUKET EMİNOĞLU PİLAVCI Y&Ouml;NETİM KURULU BAŞKANI KADIK&Ouml;Y ŞİFA SAĞLIK GRUBU İCRA KURULU BAŞKANI</li>
	<li><img alt="" src="http://www.kalder.org/yk/NecatiBulentHakoglu.jpg" /> NECATİ B&Uuml;LENT HAKOĞLU Y&Ouml;NETİM KURULU BAŞKAN YARDIMCISI POLİSAN KİMYA SAN. A.Ş GENEL M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/MutluOcak.jpg" /> MUTLU OCAK Y&Ouml;NETİM KURULU BAŞKAN YARDIMCISI COCA-COLA İ&Ccedil;ECEK A.Ş T&Uuml;RKİYE TEDARİK ZİNCİRİ DİREKT&Ouml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/NecipOzcer.jpg" /> NECİP &Ouml;Z&Ccedil;ER SAYMAN LC WAIKİKİ Y&Ouml;NETİM KURULU &Uuml;YESİ</li>
	<li><img alt="" src="http://www.kalder.org/yk/AliCaliskan.jpg" /> ALİ &Ccedil;ALIŞKAN KORDSA GLOBAL A.Ş&nbsp;<br />
	CEO AVRUPA/AFRİKA/ORTADOĞU</li>
	<li><img alt="" src="http://www.kalder.org/yk/anilYilmaz.jpg" /> ANIL YILMAZ T.C. BİLİM, SANAYİ VE TEKNOLOJİ BAKANLIĞI VERİMLİLİK GENEL M&Uuml;D&Uuml;RL&Uuml;Ğ&Uuml; GENEL M&Uuml;D&Uuml;R</li>
	<li><img alt="" src="http://www.kalder.org/yk/TarkanTekcan.jpg" /> DR. A. TARKAN TEKCAN VESTEL TİCARET A.Ş M&Uuml;ŞTERİ HİZMETLERİ GENEL M&Uuml;D&Uuml;R</li>
	<li><img alt="Pervin Olgun" src="http://www.kalder.org/yk/Pervin.Olgun.jpg" /> PERVİN OLGUN BAREM RESEARCH Y&Ouml;NETİM KURULU BAŞKANI</li>
	<li><img alt="" src="http://www.kalder.org/yk/GunduzUlusoy.jpg" /> PROF.DR. G&Uuml;ND&Uuml;Z ULUSOY SABANCI &Uuml;NİVERSİTESİ &Ouml;ĞRETİM &Uuml;YESİ</li>
	<li><img alt="" src="http://www.kalder.org/yk/serdar-oran.jpg" /> SERDAR ORAN DYO BOYA FABRİKALARI BAŞKAN YARDIMCISI / GENEL M&Uuml;D&Uuml;R</li>
	<li><img alt="" src="http://www.kalder.org/yk/SafakCapar.jpg" /> ŞAFAK &Ccedil;APAR<br />
	&nbsp;</li>
	<li><img alt="" src="http://www.kalder.org/yk/AtillaGokce.jpg" /> ATİLLA G&Ouml;K&Ccedil;E 3. K&Ouml;PR&Uuml; VE KUZEY MARMARA OTOYOLU İŞLETME A.Ş Y&Ouml;NETİM KURULU &Uuml;YESİ</li>
	<li><img alt="" src="http://www.kalder.org/yk/BarbarosCam.jpg" /> BARBAROS &Ccedil;AM İPRAGAZ A.Ş TESİS M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/BaybarsSoyak.jpg" /> BAYBARS SOYAK SYK G&Uuml;MR&Uuml;K M&Uuml;ŞAVİRLİĞİ GENEL M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/MuhsinComden.jpg" /> DR. MUHSİN &Ccedil;&Ouml;MDEN DR. OETKER GENEL M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/EsenerSaygin.jpg" /> ESENER SAYGIN HOTEL MFC KURUCU</li>
	<li><img alt="" src="http://www.kalder.org/yk/HakanUnlu.jpg" /> HAKAN &Uuml;NL&Uuml; MAXİON JANTAS JANT SAN. TİC. A.Ş VE MAXİON İNCİ JANT SAN. A.Ş GENEL M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/MehmetYilmaz.jpg" /> MEHMET YILMAZ T&Uuml;RK HENKEL A.Ş OPERASYONLAR DİREKT&Ouml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/NazmiKaryagdi.jpg" /> NAZMİ KARYAĞDI KalDer ANKARA ŞUBESİ / T&Uuml;RK TELEKOM&Uuml;NİKASYON A.Ş Y&Ouml;NETİM KURULU BAŞKANI / VERGİ UYUM GRUP M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/sertacguven.jpg" style="height:160px; width:225px" /> SERTA&Ccedil; G&Uuml;VEN DOĞA HSE GROUP GENEL M&Uuml;D&Uuml;R&Uuml;</li>
	<li><img alt="" src="http://www.kalder.org/yk/bgg.jpg" /> TUĞRUL BARAN LAV / G&Uuml;RALLAR GENEL M&Uuml;D&Uuml;R&Uuml;</li>
</ul>--%>

                            </div> </div> </div></div>

    </section>

</asp:Content>
