﻿ 
.Bugun
{
    /*background: url('takvimbugun.png') left top repeat;*/
    background: #ccc;
    text-decoration: none;
    vertical-align:middle;
}
.Bugun a:link,.Bugun a:hover,.Bugun a:visited
{
    text-decoration: none;
    
}

.Ay {
padding-bottom:20px;
}

.Gunler{ border:1px dotted #ccc; vertical-align:middle;}
        
.Gunler a{text-decoration:none;  }  


.Calender{
    font-size:100%;
    color:#00aca8;
    border:0px;
    font-weight:normal;
    Height:90%; 
    Width:100%;
    text-decoration:none; 
    vertical-align:middle;
    }
 .Calender a{text-decoration:none;}
    
td.qtip{vertical-align:middle; background-color:#eea404; color:White; cursor:pointer;}
td.qtip:hover{background-color:#00aca8; }


.takvim {
  height:400px; 
  background-color:#fff;
  /*background: url('../images/bg-images/page_bg.png') left top repeat;*/
  
}

  #takvim-list {
    overflow: auto;
    position: relative;
    height: 100%; /* Or whatever you want (eg. 400px) */
    /*background:#fff !important;*/
    max-height:400px;
      
padding-right:0px !important;
  }
   

    #lesson-list {
    padding-top:18px;
    overflow: auto;
    position: relative;
    height: 100%; /* Or whatever you want (eg. 400px) */
    /*background:#fff !important;*/
    max-height:280px;
       
  }



#takvim-list ul li  a {
	color: #00aca8;
	outline: none;
	text-decoration: none;
	-webkit-transition: color .2s ease-in;
	   -moz-transition: color .2s ease-in;
		-ms-transition: color .2s ease-in;
		 -o-transition: color .2s ease-in;
	        transition: color .2s ease-in;
}
#takvim-list ul li  a:hover {
	text-decoration: none;
	color: #feb94a;
}